input{
    background:rgba(32,34,37,.6);
    color:hsla(0,0%,100%,.7);
    border: none;
    border-radius: 8px 0px 0px 8px;
    font-size: 0.9375rem;
    font-weight: 400;
    letter-spacing: -0.025rem;
    line-height: 1.25rem;
    margin:0;
    max-height: 144px;
    min-height: 20px;
    padding: 10px;
    resize: none;
    width: 100%;
}
form{
    width:70.25vw;
    display: flex;
    margin:auto;
    margin-top: 19px;
    margin-bottom: 19px;
}
form > button {
    display: inline-block;

    border-radius: 0px 8px 8px 0px;
    background:rgba(72, 74, 77, 0.6);
    color:hsla(0,0%,100%,.7);
    border: none;
    font-size: 0.9375rem;
    letter-spacing: -0.025rem;
    line-height: 1.25rem;
    margin:0;
    padding: 10px;
    resize: none;
}
form > ::placeholder {
    color:hsla(0,0%,75%,.7);
}
.container{
    background: #36393f;
    margin: 0 11.25vw 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.chat-msj-container{
    height: 85vh;
    overflow: scroll;
    overflow-x: hidden;
    padding-left: 2.25em;
}
.chat-msj-form{
    height: 15 vh;
}
.chat-msj{
    color:#dcddde;
    margin-bottom: .2em;
}
.chat-msj > div:first-of-type {
    display:flex;
    align-items: center;
    color: hsla(0,0%,100%,.2);
}
.chat-msj > div:first-of-type > img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.chat-msj > div:first-of-type > span{
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0;
    margin-left: .3rem;
}

.chat-msj > div:first-of-type > span:first-of-type {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0;
}


hr{
    border-bottom-color: hsla(0,0%,100%,.04);
}


/*
 *  scroll bar
 */

 .scroll::-webkit-scrollbar-track
 {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     border-radius: 10px;
     background-color: #2f3136;
 }
 
 .scroll::-webkit-scrollbar
 {
     width: 12px;
     background-color: #2f3136;
 }
 
 .scroll::-webkit-scrollbar-thumb
 {
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
     background-color: #555;
 }
 h2{
    color:white;
    margin-left: 5%;
 }
 